<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title><%= title %></title>
  <meta name="keywords" content="Shopping planning, Shopping bundles, Online Offers, Location">
  <meta name="description" content="Make Your Shopping Fast. Discover Thousand Offers Around You.">

  <!-- build:css assets/styles/styles.css -->
  <link rel="stylesheet" href="temp/styles/styles.css">
  <!-- endbuild -->

  <!-- build:js assets/scripts/Vendor.js -->
  <script src="/temp/scripts/Vendor.js"></script>
  <!-- endbuild -->

</head>
<body>

<header class="site-header">
  <div class="wrapper">
    <div class="site-header__logo">Discart</div>
    <div class="site-header__menu-icon">
      <div class="site-header__menu-icon__middle"></div>
    </div>
    <div class="site-header__menu-content">
      <nav class="primary-nav primary-nav--pull-right">
        <ul>
          <li><a href="/" id="home-link">Home</a></li>
          <li><a href="auth" id="login-link">Login</a></li>
          <li><a href="auth" id="register-link">Register</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="page-section">
    <div class="wrapper wrapper--top-margin">
        <div class="generic-content-container">
          <h1 class="headline headline--centered">Are you merchandiser? Want to give advertisement?</h1>
        </div>
    </div>
  </div>
</div>

<div id="sticky-header" class="page-section">
  <div class="wrapper">
    <div class="row row--gutters-large">
      <div class="row__medium-6">
        <h2 class="section-title section-title--blue">Login</h2>
        <div class="feedback">
          <div id="loginForm" class="form form__feedback" action="profile.html">
            <input type="text" id="email_login" placeholder="Enter Your Email">
            <label id="email_error" class="error error__email"></label>
            <input type="password" id="pass_login" placeholder="Enter Your Password">
            <label id="pass_error" class="error error__password"></label>
            <br><br>
            <button id="login_btn" class="btn btn--send"><i id="loading_icon_login" class="fa fa-refresh fa-spin"></i> Login</button>
          </div>
        </div>
      </div>
      <div class="row__medium-6">
        <h2 class="section-title section-title--blue">Register</h2>
        <div class="feedback">
          <div class="form form__feedback">
            <input type="text" id="name_reg" placeholder="Enter Your Name">
            <label id="name_error" class="error error__email"></label>
            <input type="text" id="email_reg" placeholder="Enter Your Email">
            <label id="email_error_reg" class="error error__email"></label>
            <input type="text" id="phn_reg" placeholder="Enter Your Phone Number">
            <label id="phn_error" class="error error__email"></label>
            <input type="password" id="pass_reg" placeholder="Enter Your Password">
            <label id="pass_error_reg" class="error error__email"></label>
            <input type="password" id="cpass_reg" placeholder="Confirm Password">
            <label id="cpass_error" class="error error__email"></label>
            <br><br>
            <button id="reg_btn" class="btn btn--send"><i id="loading_icon_reg" class="fa fa-refresh fa-spin"></i> Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="site-footer">
  <p>Designed by <a href="facebook.com/darkzgothic1">Zahid Hasan</a></p>
</footer>

<!-- build:js assets/scripts/App.js -->
  <script src="/temp/scripts/App.js"></script>
  <!-- endbuild -->


</body>
	
</html>