<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
  <title>Discart</title>
  <meta name="keywords" content="Shopping planning, Shopping bundles, Online Offers, Location">
  <meta name="description" content="Make Your Shopping Fast. Discover Thousand Offers Around You.">

  <!-- build:css assets/styles/styles.css -->
  <link rel="stylesheet" href="temp/styles/styles.css">
  <!-- endbuild -->

  <!-- build:js assets/scripts/Vendor.js -->
  <script src="/temp/scripts/Vendor.js"></script>
  <!-- endbuild -->

</head>
<body>

<header class="site-header">
  <div class="wrapper">
    <div class="site-header__logo">Discart</div>
    <div class="site-header__menu-icon">
      <div class="site-header__menu-icon__middle"></div>
    </div>
    <div class="site-header__menu-content">
      <nav class="primary-nav primary-nav--pull-right">
        <ul>
          <li><a href="index.html" id="home-link">Home</a></li>
          <li><a href="profile.html" id="login-link">Profile</a></li>
          <li><a href="logout.html" id="register-link">Logout</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="page-section">
    <div class="wrapper wrapper--top-margin">
        <div class="generic-content-container">
          <h1 class="headline headline--centered">Hello <strong>Zahid Hasan</strong>, Good Morning</h1>
        </div>
    </div>
  </div>
</div>

<div id="sticky-header" class="page-section page-section--less-top-margin">
  <div class="wrapper">
    <div class="row row--gutters-large">
      <div class="row__medium-4">
        <div class="sidenav">
          <a href="profile.html">Profile</a>
          <a href="edit-profile.html">Edit Profile</a>
          <a href="change-password.html">Change Password</a>
          <a href="#clients">Create Company Profile</a>
          <a href="#clients">Create Company Profile</a>
          <a href="#contact">Contact</a>
          <a href="#contact">Contact</a>
        </div>
      </div>
      <div class="row__medium-8">
        <div class="row__medium-6--padding-right">
          <div class="box">
            <div class="box__title">
              Kinnari Boutique House
            </div>
            <div class="box__address">
              Uttara Sector-12, House 8, Dhaka
            </div>
            <div class="box__category">
              <strong>Category: </strong>Cloths
            </div>
            <div class="box__post-ad-btn">
              <a class="btn btn--post-ad" href="post-ad.html">+ &nbsp;&nbsp;&nbsp;Post an Ad</a>
            </div>
            <div class="box__container">
              <a href="ads.html" class="btn btn--update">Ads</a>
              <button class="btn btn--update">Edit</button>
              <button class="btn btn--update">Delete</button>
            </div>
          </div>
        </div>
        <div class="row__medium-6--padding-right">
          <div class="box">
            <div class="box__title">
              Kinnari Boutique House
            </div>
            <div class="box__address">
              Uttara Sector-12, House 8, Dhaka
              <% var dat = JSON.stringify(companies) %>
              <% var data = JSON.parse(dat) %>
              <%- data[0].name %>
                  
            </div>
            <div class="box__category">
              <strong>Category: </strong>Cloths
            </div>
            <div class="box__post-ad-btn">
              <a class="btn btn--post-ad" href="">+ &nbsp;&nbsp;&nbsp;Post an Ad</a>
            </div>
            <div class="box__container">
              <a href="ads.html" class="btn btn--update">Ads</a>
              <button class="btn btn--update">Edit</button>
              <button class="btn btn--update">Delete</button>
            </div>
          </div>
        </div>
        <div class="row__medium-6--padding-right">
          <div class="box">
            <div class="box__title">
              Kinnari Boutique House
            </div>
            <div class="box__address">
              Uttara Sector-12, House 8, Dhaka
            </div>
            <div class="box__category">
              <strong>Category: </strong>Cloths
            </div>
            <div class="box__post-ad-btn">
              <a class="btn btn--post-ad" href="">+ &nbsp;&nbsp;&nbsp;Post an Ad</a>
            </div>
            <div class="box__container">
              <a href="ads.html" class="btn btn--update">Ads</a>
              <button class="btn btn--update">Edit</button>
              <button class="btn btn--update">Delete</button>
            </div>
          </div>
        </div>
        <div class="row__medium-6--padding-right">
          <div class="box">
            <div class="box__title">
              Kinnari Boutique House
            </div>
            <div class="box__address">
              Uttara Sector-12, House 8, Dhaka
            </div>
            <div class="box__category">
              <strong>Category: </strong>Cloths
            </div>
            <div class="box__post-ad-btn">
              <a class="btn btn--post-ad" href="">+ &nbsp;&nbsp;&nbsp;Post an Ad</a>
            </div>
            <div class="box__container">
              <a href="ads.html" class="btn btn--update">Ads</a>
              <button class="btn btn--update">Edit</button>
              <button class="btn btn--update">Delete</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<footer class="site-footer">
  <p>Designed by <a href="facebook.com/darkzgothic1">Zahid Hasan</a></p>
</footer>

<!-- build:js assets/scripts/App.js -->
  <script src="/temp/scripts/App.js"></script>
  <!-- endbuild -->


</body>
  
</html>