.slider {
	position: relative;
	z-index: 2;
	background-color: $mainBlue;
	background: url('../../assets/images/feature-image.png');
	width: 100%;

	&__text {
		position: absolute;
		top: 0;
		left: 0;
		color: #FFF;
	}
}